# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

.bsp/
project/build.properties
project/target/config-classes/$01289f1647e274363543.cache
project/target/config-classes/$14f53bc49801212b3086.cache
project/target/config-classes/$4951c6ef58ac7324bdf4.cache
project/target/config-classes/$c336c5b928ba40b524ec.cache
project/target/scala-2.12/
project/target/streams/
target/.history3
target/global-logging/
target/scala-2.13/update/
target/streams/
target/task-temp-directory/
project/target/config-classes/$65c3b15756424a4d09c7.cache
project/target/config-classes/$83f1d281cc43d1f03085.cache
.idea
project/project/target/config-classes/$7240f6a2f01ddef98b45.cache
project/target/.sbt-compilation-infos/
project/target/config-classes/$01f648e60b12ebd6d261.cache
project/target/config-classes/$84876e3ebfc67eb006db.cache
project/target/config-classes/$a28c0a5b2f5b0a410581.cache
project/target/config-classes/$aa9babfb103365f8480f.cache
project/target/config-classes/$ea9db2f85f0da88ab276.cache
target/scala-2.13/test-zinc/
target/scala-2.13/zinc/
target/test-reports/